#ct {
	margin: auto;
	max-width: 960px;
}
#ct form{
	width: 100%;
	overflow: auto;
}
#ct .note{
	margin: 0.5em;
}
.rs-tabs-warning{
	border: 1px solid orange;
	background: yellow;
	color: orange;
	text-align: center;
	padding: 0.4em;
}
.ct_pic{
	width: 300px;
	margin: 10px;
	float: left;
	border: 10px solid #FFF;
	display: inline-block;
	background-color: white;
	box-shadow: 0 0 10px 1px #BBB;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-transition: border-color 500ms ease-out;
	transition: border-color 500ms ease-out;
}
.ct_pic.selected{
	border-color: #007EFF;
}
.ct_pic_group{
	padding: 10px 0;
	text-align: center;
}
hr{
	border: none;
	border-top: 1px solid #DDD;
}
.ct_pic_wrapper{
	width:100%;
	height:225px;
	overflow:hidden;
	box-sizing: border-box;
}
.ct_pic img{
	height: 100%;
	-webkit-transition: all 500ms ease-out;
	-webkit-transform: scale(1);
	transition: all 500ms ease-out;
	transform: scale(1);
}
.ct_pic:hover img{
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
.ct_pic:hover>p{
	overflow: visible;
}
.ct_pic_controls{
	position:absolute;
	top:225px;
	padding: 4px;
	width:100%;
	height:225px;
	background:rgba(0,0,0,0.5);
	box-sizing: border-box;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	color:#FFF;
}
.ct_pic_controls input[type=checkbox]{
	-webkit-appearance: none;
	outline: none;
}
.ct_pic_controls input[type=checkbox]:after{
	content: "选择";
	display: inline-block;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	cursor: pointer;
}
.ct_pic_controls input[checked]:after{
	content: "取消选择";
}
.ct_pic_controls a{
	color:#FFF;
	font-weight:bold;
	text-decoration:underline;
}
.ct_pic:hover .ct_pic_controls{
	top: 0;
}
.ct_pic:hover p{
	white-space: normal;

}
.pic_wrapper{
	overflow:auto;
	max-width:800px;
	max-height:500px;
}