#ct {
	margin: auto;
	max-width: 960px;
}
#ct form{
	width: 100%;
	overflow: auto;
}
#ct .note{
	margin: 0.5em;
}
.rs-tabs-warning{
	border: 1px solid orange;
	background: yellow;
	color: orange;
	text-align: center;
	padding: 0.4em;
}
.ct_pic{
	width: 230px;
	margin: 5px;
	float: left;
	border: 10px solid #FFF;
	display: inline-block;
	background-color: white;
	box-shadow: 0 0 10px 1px #BBB;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-transition: border-color 500ms ease-out;
	-moz-transition: border-color 500ms ease-out;
	-ms-transition: border-color 500ms ease-out;
	-o-transition: border-color 500ms ease-out;
	transition: border-color 500ms ease-out;
}
.ct_pic.selected{
	border-color: #007EFF;
}
.ct_pic_group{
	padding: 10px 0;
	text-align: center;
}
hr{
	border: none;
	border-top: 1px solid #DDD;
}
.ct_pic_wrapper{
	width:100%;
	height:180px;
	overflow:hidden;
	box-sizing: border-box;
}
.ct_pic img{
	height: 100%;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.ct_pic:hover img{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}
.pic_describe{
	padding:3px 0;
	border-top:1px dashed #FFF;
	border-bottom:1px dashed #FFF;
	max-height:125px;
	overflow-y:auto;
	margin-top:2px;
}
.ct_pic:hover>p{
	overflow: visible;
}
.ct_pic_controls{
	opacity:0;
	position:absolute;
	top:180px;
	padding: 4px;
	width:100%;
	height:180px;
	background:rgba(0,0,0,0.8);
	box-sizing: border-box;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	color:#FFF;
}
.ct_pic_controls input[type=checkbox]{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	outline: none;
}
.ct_pic_controls input[type=checkbox]:after{
	content: "选择";
	display: inline-block;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	cursor: pointer;
}
.ct_pic_controls input[checked]:after{
	content: "取消选择";
}
.ct_pic_controls a{
	color:#FFF;
	font-weight:bold;
	text-decoration:underline;
}
.ct_pic:hover .ct_pic_controls{
	top: 0;
	opacity:1;
}
.ct_pic:hover p{
	white-space: normal;
}
.pic_wrapper{
	overflow:auto;
	max-width:800px;
	max-height:500px;
}