<!--{template common/header}-->
<link rel="stylesheet" type="text/css" href="source/plugin/pic_vote/template/pic_vote.css" />
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="plugin.php?id=pic_vote:vote">军训摄影大赛投票</a> <em>&rsaquo;</em>
	</div>
</div>
<div id="ct">
	<!--{if $_G[uid]}-->
	<form action="plugin.php?id=pic_vote:do_vote" method="post" onsubmit="return rule({$limit})">
	<!--{else}-->
	<p class="rs-tabs-warning">你还没有登录，请登录后投票。</p>
	<!--{/if}-->
	<p class="note">一个账号可以为<b>两幅</b>作品投票，选出最代表军训生活的照片！</p>
	<p class="note">投票时间：10月13日~10月20日</p>
	<p class="note">关注微信号“南航纸飞机”（nuaazfj），点击菜单“近期活动”，可以进行微信投票！</p>
		<!--{loop $result $row}-->
		<div class="ct_pic" id="ct_pic_{$row['pic_id']}">
			<div class="ct_pic_wrapper">
				<img src="{$row['pic_url']}" width="100%">
			</div>
			<div class="ct_pic_controls">
				<p>
					<a href="javascript:;" onclick="showWindow('show_pic', 'plugin.php?id=pic_vote:show_pic&url={$row['encoded_url']}')">查看大图</a>
					<!--{if $_G[uid]}-->
					<input type="checkbox" name="vote[]" value="{$row['pic_id']}" onclick="toggleChecked(this)">
					<!--{/if}-->
				</p>
				<p>作者：{$row['pic_author']}</p>
				<p>描述：{$row['pic_describe']}</p>
			</div>
		</div>
		<!--{/loop}-->		
		<hr>
		<div class="ct_pic_group">
			<!--{if $_G[uid]}-->
			<button type="submit" class="pn pnc vm"><strong>保存并提交</strong></button>
			<!--{else}-->
			<a href="/sso/?page=login&redirect_uri=L3BsdWdpbi5waHA/aWQ9c3lubG9naW46bG9naW5jaGVjayZyZWRpcmVjdF91cmk9TDNCc2RXZHBiaTV3YUhBL2FXUTljR2xqWDNadmRHVTZkbTkwWlE9PQ=="><button disabled class="pn pnc vm"><strong>请先登录</strong></button></a>
			<!--{/if}-->
		</div>
	<!--{if $_G[uid]}-->
	</form>
	<!--{/if}-->
</div>
<!--{if $_G[uid]}-->
<script>
var votes="{$votes}";
if (votes!=""){
	var arr=votes.split("|");
	for(var i in arr){
		document.getElementById("ct_pic_"+arr[i]).className+=" selected";
		document.querySelector("#ct_pic_"+arr[i]+" input").setAttribute("checked","checked");
	}
}
function toggleChecked(i){
	var parent=i.parentNode.parentNode.parentNode;
	console.log(parent);
	if(i.getAttribute("checked")){
		i.removeAttribute("checked");
		parent.className=parent.className.replace(" selected","");
	}
	else{
		i.setAttribute("checked","checked");
		parent.className+=" selected";
	}
}
</script>
<script src="source/plugin/pic_vote/template/pic_vote.js"></script>
<!--{/if}-->
<!--{template common/footer}-->
